* {
    box-sizing: border-box;
}

div {
    width: 250px; 
    height: 100px;
    position: absolute;
    color: black;
    font-weight: bold;
    text-align: center;
}
div#d1 {
    background-color: rgb(255, 64, 64);
    border: 3px;
    border-style: dashed;
    padding: 90px;
    margin: 50px;
    z-index: 1;
}
div#d2 {
    background-color: rgb(64, 255, 64);
    border: 17px;
    border-style: dotted;
    left: 250px;
    padding-left: 150px;
    margin-left: 0px;
    z-index: 1;
}
div#d3 {
    background-color: rgb(64, 64, 255);
    border: 10px;
    border-style: double;
    left: 510px;
    padding-top: 200px;
    margin-top: 20px;
    overflow:auto;
    z-index: 1;
  }
div#d4 {
    background-color: rgb(255, 255, 64);
    border: 20px;
    border-style: groove;
    left: 750px;
    padding-right: 800px;
    margin-left: -60px;
    z-index: 1;
  }
div#d5 {
    background-color: rgb(255, 128, 64);
    border: 10px;
    border-style: inset;
    top: 900px;
    z-index: 1;
}
div#d6 {
    background-color: rgb(128, 64, 128);
    border: 6px;
    border-style: outset;
    top: 900px;
    left: 250px;
    padding: 70px 150px 0px 0px;
    margin: 20px 0px 0px 15px;
    overflow:auto;
    z-index: 1;
}
div#d7 {
    background-color: rgb(128, 255, 255);
    border: 10px;
    border-style: ridge;
    top: 900px;
    left: 400px;
    padding: 0px 0px 200px 0px;
    margin: 0px 0px -30px 30px;
    z-index: 1;
}
div#d8 {
    background-color: rgb(255, 64, 255);
    border: 5px;
    border-style: solid;
    top: 900px;
    left: 750px;
    padding: 50px 0px 0px 200px;
    margin: 20px 0px 100px 70px;
    overflow: auto;
    z-index: 1;
}
div#theImg {
    top: 190px;
    left: 300px;
    width: 800px;
    height: 700px;
    background: url(images/ImageCollagen.png) no-repeat;
    position: relative;
    border: 1px solid #000000;
}
